<h1>Memory game (Server)</h1>
<div class = "indexPage">
    <%= form_for @conn, "/redirectToGame", fn f -> %>
      <p>Enter a game name to join: <%= text_input f, :x %></p>
      <p><%= submit "Join" %></p>
    <% end %>
</div>
